/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Saira', sans-serif;
*/

body{
  font-family: Saira, sans-serif;
  overflow-x: hidden;
}

.master{
  width: 100%;
  float: left;
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.navbar.navbar-light.navbar-expand-md {
  background-color: rgba(36,60,70,0.8);
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 3;
  position: absolute;
  width: 100%;
}

.btn-site {
  background-color: #255a62;
  border-width: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-site:hover {
  background-color: #48b4a5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

#accordion-1 {
  background: #255a62;
}
#accordion-1 .card-header,
#accordion-1 .card-header.collapsed{
  padding: 24px;
}
#accordion-1 .card-header h5,
#accordion-1 .card-header h5 a{
  font-size: 16px;
}

.pricing{
  background: #15222a;
  color: rgb(255,255,255);
}

.card-header-pricing h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-header-pricing {
  background-color: #ff000000 !important;
  border-radius: 0 !important;
  margin-bottom: 10px;
  border-style: none;
}

.card-header {
  background: rgb(37,90,98);
  border-radius: 0 !important;
  margin-bottom: 10px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #15222a;
  background-clip: border-box;
  border-radius: 0px;
  margin-top: 0;
  margin-right: 0;
}

.div-services .card{
  border: 1px solid #48B4A5;
}

.accordion-link {
  color: #ffffff;
}

.accordion-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.card.card-testimonial {
  border-width: 1px;
  border-color: rgb(37,90,98);
  background-color: #ff000000;
}
.card.card-testimonial h5{
  font-size: 16px;
  font-weight: 700;
}
.card.card-testimonial p{
  margin-bottom: 20px;
}
.card.card-testimonial p.text-left{
  margin-bottom: 0;
  font-size: 14px;
}

.card.card-services:hover, .card-services.card-text:hover {
  border-width: 1px;
  border-color: #255a62;
  background-color: #fff;
  color: #255a62;
}

.card-text-services:hover {
  color: #fff;
}

.card.card-services:hover {
  border-width: 1px;
  border-color: #255a62;
  background-color: #fff;
  color: #255a62 !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}



.testimoni {
  color: rgb(255,255,255);
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: transparent;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
}

.about{
  background: #15222a;
  color: rgb(255,255,255);
}
.about .col-md-6:first-child{
  padding: 50px 60px 50px 0;
}
.section-text h4,
.section-title h4{
  font-size: 14px;
  margin-bottom: 16px;
}
.section-text h2,
.section-title h2{
  font-size: 38px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.section-text h3,
.section-title h3{
  font-size: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.section-text h3 a{
  color: #fff;
}
.section-text p,
.section-title p{
  color: #f4f1ea;
  font-size: 16px;
  margin-bottom: 30px;
}

.why-us{
  background: #15222a;
  color: rgb(255,255,255);
  padding-bottom: 20px;
}

.services {
  background-color: transparent;
  position: relative;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
}
.services::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  url("../../assets/img/bg_round-e1612525004692.png") top / cover no-repeat;
}
.services .card-body{
  padding: 40px 20px;
}
.services .card-body .card-service-icon{
  font-size: 46px;
}
.card.card-services {
  border: 1px solid #04938d;
  margin-bottom: 30px;
  height: 325px;
}
.card.card-services:hover{
  border: 1px solid #04938d;
}
.card.card-services h5{
  font-size: 23px;
  font-weight: 600;
}

.news {
  background: #15222a;
  color: rgb(255,255,255);
  padding-top: 100px;
  padding-bottom: 100px;
}


.paralax {
  background: #15222a;
  min-height: 424px;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  color: #fff;
}
.paralax::before{
  content: "";
  width: 100%;
  height: 100%;
  background: url("../../assets/img/technology-meeting-at-cyber-space-table.jpg") center / cover no-repeat fixed;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.paralax p{
  margin-bottom: 30px;
}
.paralax:hover::before{
  opacity: 0.2;
}
.paralax .card{
  border: none;
}
.paralax .card p{
  margin-bottom: 0;
}
.paralax .counter-plus{
  color: #04938d;
}
.circle-paralax{
  border: 1px solid #04938d;
}

.circle-paralax:hover {
  height: 120px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  border-width: 1px;
  border-color: rgb(37,90,98);
  color: #255a62;
  font-size: 45px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.circle-paralax {
  height: 120px;
  width: 120px;
  background-color: #15222a;
  border-radius: 50%;
  display: inline-block;
  border-width: 1px;
  border-color: #255a62;
  color: #fff;
  font-size: 45px;
}

.card.card-paralax {
  background-color: rgba(255,255,255,0);
}


.dropdown-item.navbar-item:hover {
  text-decoration: none;
  background-color: #04938d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-item.navbar-item {
  background-color: rgb(255,255,255);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #04938d;
}

.nav-item.dropright.d-block.dropdown-item.navbar-item {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-item.dropright.open.d-block.dropdown-item.navbar-item {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-item .dropdown-menu .dropdown-menu{
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0;
}

.nav-item.dropright.d-block.dropdown-item.navbar-item:hover .dropdown-menu {
  display: block;
}

.dropright a {
  background-color: rgb(255,255,255);
  color: #04938d;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*margin-top: 10px;*/
  /*margin-bottom: -10px;*/
}

.dropright a:hover {
  text-decoration: none;
  background-color: #04938d;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  color: #ffffff !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.nav-item .dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.nav-link:hover {
  color: rgb(4,147,141) !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.dropdown{
  position: relative;
}
.dropdown .drop-bt{
  width: 60px;
  height: 60px;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 2;
}

.section-team-about {
  color: #fff;
  background-color: transparent;
  background: linear-gradient(#15222adc 0%, #030506 55%), url("../../assets/img/bg_hexgon.png") top left / auto 139% no-repeat, #15222a;
  opacity: 1.2;
  padding-bottom: 60px;
}
.section-team-about img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.blog{
  color: #f4f1ea;
}

.blog blockquote{
  padding-left: 40px;
}

.navbar{
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 76px;
  background: #15222a75;
  z-index: 9;
  padding-left: 50px;
  padding-right: 20px;
}
.navbar .logo{
  display: block;
  float: left;
  width: 152px;
  height: 59px;
}
.navbar .logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar .btn-site{
  float: right;
  width: 204px;
  padding: 12px 24px;
  margin-top: 6px;
}
.navbar .navbar-nav{
  width: calc(100% - 402px);
  float: right;
  text-align: right;
  display: block;
  padding-right: 50px;
}
.navbar .navbar-nav .nav-item{
  margin-left: 0;
  padding: 0;
}
.navbar .navbar-nav li{
  display: inline-block;
  margin-left: 20px;
  position: relative;
}
.navbar .navbar-nav li a{
  display: block;
  padding: 18px 0;
  position: relative;
  color: rgba(255,255,255,0.9);
}
.navbar .navbar-nav li a::before{
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.navbar .navbar-nav li a:hover::before{
  opacity: 1;
  left: 0;
}

.dropdown:hover > .dropdown-menu{
  position: absolute;
  top: 57px;
  padding: 10px 0;
  text-align: left;
}
.dropdown:hover > .dropdown-menu a{
  padding: 8px 20px;
  color: #255A62;
}
.dropdown:hover > .dropdown-menu a::before{
  display: none;
}

.section-header{
  height: 83vh;
}

.section-header .row.about{
  background: none;
}

.header-item {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #255a62;
  background: #fff;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 570px;
}
.header-item ul.d-xl-flex{
  justify-content: center;
}

.header-item li:hover {
  color: #04938d;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.header-item i{
  font-size: 50px;
}

.column-image1-1 {
  background: url("../../assets/img/people-in-a-technology-cyber-space-meeting-1536x1025-grayscale.jpg") top / cover no-repeat;
}

.column-image-1:hover {
  background: url("../../assets/img/people-in-a-technology-cyber-space-meeting-1536x1025.jpg") top / cover no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.card-header.panel-client-header {
  color: #255a62;
  background-color: #fff;
  padding-top: 20px;
}


.panel-client h2{
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
}
.panel-client h4{
  font-size: 14px;
}

.leader .panel-client h4{
  font-size: 21px;
  font-weight: 700;
}

.crop {
  width: 534px;
  height: 250px;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  object-fit: cover;
}

.crop-news {
  width: 534px;
  height: 250px;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  object-fit: cover;
}

.crop:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.crop-news:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.crop img {
  margin: -75px 0 0 -100px;
  margin-top: -200px;
}

.card-body-paralax {
  padding-top: 0px;
}

.card-body.panel-client-body {
  padding: 0px;
}

.card-body.panel-news-body {
  padding: 0px;
}

.card-clients-image {
  margin-bottom: 25px;
  width: 70%;
}

.card-title.card-clients-title {
  font-weight: bold;
  font-size: 22px;
}

.card.card-clients {
  background-color: #255a62;
}

.card-clients-image:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.card-clients-image {
  -webkit-filter: grayscale(75%);
}

.card-clients-himage {
  -webkit-filter: grayscale(0);
}

.leader-description {
  margin-top: 50px;
}

.card.panel-news{
  border: none;
  background: #fff;
  height: 100%;
  padding-bottom: 0;
}

.card-header.panel-news-header p {
  background-color: #fff;
  color: #255a62;
  margin-bottom: 0;
}
.card-body.panel-news-body{
  flex: none;
}

.card-header.panel-news-header {
  background-color: #fff;
  color: #255a62;
}

.panel-news .card-header{
  padding: 30px;
  border: none;
}

.blog-news .col-lg-4{
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}


.post-tag {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
  margin-top: 20px;
  margin-right: 20px;
  padding: 8px 15px;
  background: #48b4a5;
  font-weight: normal;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

section.post{
  padding: 20px 0;
  background-color: transparent;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
}

.post .section-text h3 a{
  color: #48B4A5;
}
.post .section-text p{
  color: #777;
  font-size: 16px;
}
.post .section-text .link{
  font-size: 14px;
  letter-spacing: 2px;
  color: #04938d;
  font-weight: 600;
}

.link-post:hover {
  text-decoration: none;
  color: #15222a;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.panel-news-header a:hover {
  color: #48b4a5;
}

.panel-news-header a:hover {
  color: #7bb3ab !important;
  text-decoration: none;
}

.panel-news-header a {
  color: #48b4a5;
  font-weight: bolder;
}

.link-post {
  color: #15222a;
}

.footer-bottom {
  color: #fff;
  background-color: #15222a;
}

.image-presentation {
  width: 100%;
  height: 64vh;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
}

.image-presentation-top {
  -webkit-filter: grayscale(100%);
}

.image-presentation:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.image-presentation-top:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}


.item p {
  margin-top: 25px;
}

.paralaxx2:hover {
  background: #15222aca;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.paralaxx:hover {
  background: #15222aca;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.leader {
  color: rgb(255,255,255);
  background-color: transparent;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
  position: relative;
  padding: 60px 0;
}
/*
.leader::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/img/bg_round-e1612525004692.png") top / cover no-repeat;
}*/

.leader .col-sm-4:first-child{
  padding-top: 50px;
  padding-bottom: 50px;
}

.leader .card.panel-client{
  background: none;
  padding: 0 0 0 60px;
}
.leader .col-sm-4:nth-child(2) .card{
  transform: translateX(30px);
}

.about-header{
  padding-top: 160px;
  padding-right: 20px;
}
.about-header h3{
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.about-item-text h4{
  font-weight: 700;
}

.img-header {
  -webkit-filter: grayscale(100);
  width: 100%;
  height: 72vh;
  object-fit: cover;
  border-bottom-left-radius: 60px;
}

.news .card-header{
  padding-top: 20px;
}
.news .card-header h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  min-height: 105px;
}
.news .card-header h5 a{
  color: #255a62;
}
.news .card-header span{
  font-size: 14px;
}
.news .card-header hr{
  margin-bottom: 10px;
  width: calc(100% + 40px);
  margin-left: -20px;
}
.news .card-body{
  padding: 0;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.news .card-body img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}


.section-about1 {
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
}

.about-item {
  background: #ffffff;
  color: #000;
}

.about-item img {
  -webkit-filter: grayscale(100);
}

.about-item img:hover {
  -webkit-filter: grayscale(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.about-item-text {
  padding: 15px;
  text-align: center;
  padding-top: 40px;
}

.about-item-2 {
  padding: 0 30px 30px;
}

.section-about2 {
  color: #ffffff;
  background: #15222a;
  padding: 80px 0 120px;
}

.section-about2 .section-text{
  padding: 0 60px 0 0;
}

.div-section-about2-history {
  padding: 30px;
  background-color: #eee9e9;
  color: #55595c;
}

.paralax .section-text{
  padding: 72px 0;
}

.div-section-about2-history .p1 {
  font-size: 20px;
}

.div-section-about2-history .p2 {
  font-weight: bold;
  margin-bottom: 0;
}


.our-team {
  color: rgb(255,255,255);
  padding-top: 30px;
  padding-bottom: 100px;
  background: #15222a;
}
.our-team .card{
  overflow: hidden;
  background: rgb(37,90,98);
  border: none;
}
.our-team .card img{
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.our-team .card:hover img{
  transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.our-team .card .card-header{
  padding: 20px;
}
.our-team .card .card-header p{
  margin-bottom: 0;
}

.card-body.panel-team-body {
  padding: 0;
}

.col-team {
  padding-top: 20px;
}

.client-description {
  margin-bottom: 30px;
}

section.client{
  padding: 20px 0;
}

section.client .card{
  margin-bottom: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

section.client .card-header h2{
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

section.client .card img{
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
section.client .card-clients:hover img{
  transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

section.client .crop{
  height: 317px;
}

section.client .card-body p{
  margin-bottom: 0;
}

.team-description {
  margin-bottom: 30px;
}

.blog {
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 30px;
}

.single-service-detail {
  line-height: 30px;
}
.single-service-detail h3{
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.single-service-detail img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-team-service h3{
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.col-team-service h5{
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.list-text {
  margin-left: 20px;
}

.single-service-detail2 p {
  line-height: 30px;
}

.single-service-detail2 .list-unstyled {
  line-height: 30px;
}

.team-service {
  text-align: center;
}

.team-service img {
  padding-top: 25px;
  padding-bottom: 25px;
}

.col-team-service {
  background-color: #F4F1EA;
  color: #000;
  padding: 30px 30px 10px;
}

.col-team-service h3{
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
}

.col-team-service p{
  margin-bottom: 30px;
}

.col-team-service ul li{
  margin-bottom: 10px;
}

.team-progress p {
  line-height: 0px;
}

.progress-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-contact {
  color: #48b4a5;
}
.form-contact .col-md-6:nth-child(1){
  padding-right: 5px;
}
.form-contact .col-md-6:nth-child(2){
  padding-left: 5px;
}

.row-contact .col-md-8{
  padding-left: 40px;
  padding-right: 100px;
}

.form-contact input{
  height: 40px;
}
.form-contact input[type='checkbox']{
  height: auto;
}

.field-required {
  color: red;
  margin-left: 5px;
}

.form-contact input {
  border-radius: 0px;
}

.form-contact textarea {
  border-radius: 0px;
}

.div-contact {
  background-color: transparent;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
}

.embed-responsive{
  height: 450px;
}

.sidebar-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 20px;
}

.blog-item{
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.blog-item .pic{
  width: 77px;
  height: 77px;
  float: left;
  overflow: hidden;
}
.blog-item .pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item .text{
  width: calc(100% - 77px);
  float: left;
  padding-left: 20px;
}
.blog-item .text h3{
  font-size: 15px;
  font-weight: 600;
}
.blog-item .text .post-info{
  margin-left: 0;
  color: #adadad;
  font-size: 14px;
}
.single-service{
  background: #15222a;
  color: rgb(255,255,255);
}


.contact2-detail:hover {
  border-bottom: 5px solid #48b4a5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.contact2 .icon {
  font-size: 3em;
  margin-bottom: 10px;
  color: #656565;
}

.contact2 {
  background-color: #15222a;
  padding-bottom: 50px;
  padding-top: 100px;
}

.container.container-contact2 {
  margin-top: -50px;
}

.blog-right h4{
  margin-bottom: 18px;
  font-size: 28px;
}
.blog-right h4 a

.blog-right a {
  color: #48B4A5;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
}

.blog-right-single a {
  color: #48B4A5;
  text-decoration: none;
}

.blog-right a:hover {
  color: #7bb3ab;
}

.blog-right-single a:hover {
  color: #7bb3ab;
}

.blog-right-single p {
  color: #adadad;
}

.date, .admin {
  color: #48B4A5;
}

.blog.right p {
  color: #777;
}

.card.panel-news p {
  color: #777;
  font-size: 14px;
}
.card.panel-news h5{
  font-family: 'Montserrat', sans-serif;
}

.link-pagination-post-prev, .link-pagination-post-next {
  margin: 15px;
}

.link-pagination-post-prev {
  color: #fff;
}

.link-pagination-post-prev:hover {
  color: #fff;
  text-decoration: none;
}

.link-pagination-post-next {
  color: #48b4a5;
}

.link-pagination-post-next:hover {
  color: #7bb3ab;
  text-decoration: none;
}

.post {
  color: #ffffff;
  background-color: #15222A;
}

.post-info {
  margin-left: -7px;
  margin-bottom: 10px;
  font-size: 14px;
}

.blog-right p{
  color: #777;
  font-size: 16px;
}

.post-link:hover {
  color: #7bb3ab;
  text-decoration: none;
}

.post-link {
  color: #48B4A5;
  text-decoration: none;
}

.hr-post {
  text-align: center;
  line-height: 1px;
  font-size: 1em;
  overflow: visible;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #676767;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
}

.hr-post:after {
  font-family: "Font Awesome 5 Free";
  content: "\f3ed";
  color: #ffffff;
  display: inline;
  background-color: #15222a;
  padding: 0 0.5em;
  font-weight: 600;
}

.div-404 {
  color: rgb(255,255,255);
  background: url("../../assets/img/crowd-of-robots-1536x945.jpg") top / cover no-repeat;
}

.error {
  color: #ffffff;
  padding-top: 170px;
  padding-bottom: 100px;
  background: rgba(33,119,114,0.82);
}

.error-content {
  color: #fff;
}

.div-404 h1 {
  font-weight: 700;
  font-size: 150px;
  mix-blend-mode: exclusion;
  font-family: 'Montserrat', sans-serif;
}
.div-404 h2{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}


.card-pricing {
  background-color: #02010100;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #255A62;
  text-align: center;
  position: relative;
}

.card-pricing-center {
  background-color: #255a62;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #255A62;
  text-align: center;
  position: relative;
}

.div-image-pricing {
  display: none;
}

.div-image-pricing-center {
  display: block;
}

.card-pricing:hover .div-image-pricing {
  display: block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing-center:hover .div-image-pricing-center {
  width: 70%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing-center:hover .div-image-pricing-center {
  display: block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing:hover {
  border-color: #48b4a5;
  box-shadow: 0px 0px 4px #48b4a5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing-center:hover {
  background-color: #ffffff00;
  border-color: #48b4a5;
  box-shadow: 0px 0px 4px #48b4a5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.pricing-background {
  background: url("../../assets/img/bg_hexgon.png") top left / cover no-repeat;
  height: 263px;
}

.pricing-value h1 {
  color: #48B4A5;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 0;
  line-height: 100%;
}
.pricing-value p{
  margin-bottom: 30px;
}

.card-body.card-body-pricing{
  padding-bottom: 30px;
}

.card-pricing .card-header,
.card-pricing-center .card-header{
  padding: 30px 20px 0;
}

.card-body.card-body-pricing {
  z-index: 1;
}

.div-image-pricing {
  position: absolute;
}

.div-image-pricing-center {
  position: absolute;
}

/* .ribbon {
  background-color: #15222A;
  margin-top: 32px;
  transform: translate(305px) translateX(-50%) translateY(-50%) rotate(42deg) scale(1.03);
  color: #ffffff;
  font-weight: 600;
  z-index: 1;
  position: absolute;
} */

/* common */

.ribbon {
  width: 140px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 7px 0;
  background-color: #15222a;
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* top right */

.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before, .ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
  font-size: 12px;
}

.header-background {
  background-color: rgba(255,0,0,0);
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
  z-index: 2;
  padding-top: 350px;
}

.div-header {
  color: #fff;
  background: url("../../assets/img/robots-working-with-laptop.jpg") top / cover no-repeat fixed;
  position: relative;
  width: 100%;
  height: 85vh;
}

.div-header::before {
  content: "";
  background-color: transparent;
  background-image: linear-gradient(215deg, #255A62 0%, #15222A 100%);
  opacity: 0.9;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.div-header .text{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.div-header .text h1{
  font-weight: 600;
  font-size: 75px;
}
.div-header .text p{
  margin-bottom: 30px;
}

.div-header .col-md-12{
  height: 100%;
  display: block;
  float: left;
  position: absolute;
  max-width: 1140px;
}

.btn-form {
  margin-top: 70px;
}

.testimonial-item {
  margin-left: 10px;
  margin-right: 10px;
}

.owl-dots {
  display: none;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none;
}

.paralax-box h2 {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}

.paralax-box {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.hr-footer {
  color: #fff;
  background: rgba(166,34,34,0);
  border: 1px solid #48b4a5;
  width: 60px;
  max-width: 100px;
  margin: 0px;
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}


.footer-dark .item.social {
  text-align: center;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

.footer-dark ul a:hover {
  opacity: 0.8;
  color: #48b4a5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  color: #fff;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 0;
}

.footer-dark h5 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-dark {
  color: #f0f9ff;
  background-color: #0b141a;
  padding-top: 130px;
  padding-bottom: 130px;
}

.counter-plus {
  font-weight: bold;
  font-size: 2em;
  padding-left: 5px;
}

.counter {
  font-size: 2em;
  font-weight: bold;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

.burger{
  width: 42px;
  height: 42px;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  top: 17px;
  right: 20px;
  display: none;
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.burger span{
  width: 24px;
  height: 3px;
  display: block;
  background: #255A62;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.burger span:first-child{
  top: calc(50% - 7px);
}
.burger span:last-child{
  top: calc(50% + 7px);
}
.burger.active{
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.burger.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
  -moz-transform: translate(-50%,-50%) rotate(90deg);
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
}
.burger.active span:nth-child(2){
  opacity: 0;
  transform: translate(-50%,-50%) rotate(180deg);
  -moz-transform: translate(-50%,-50%) rotate(180deg);
  -webkit-transform: translate(-50%,-50%) rotate(180deg);
}
.burger.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
  -moz-transform: translate(-50%,-50%) rotate(0deg);
  -webkit-transform: translate(-50%,-50%) rotate(0deg);
}

.blog .list-inline{
  margin-bottom: 30px;
}

.single-post-header{
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: transparent;
  background-image: linear-gradient(135deg, #15222A 0%, #030506 100%);
}
.single-post-header::before{
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/bg_hexgon.png) no-repeat left;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.breadcrumb{
  background: none;
  padding: 30px 0;
}
.breadcrumb li{
  color: #04938d;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 300;
}
.breadcrumb li a{
  color: #fff;
}
.breadcrumb li i{
  margin-left: 15px;
  display: inline-block;
}

.post-title h1{
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
}
.post-title p span{
  color: #fff;
  margin: 0 3px;
}
.post-title img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.social-media{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.social-media li{
  float: left;
  margin-right: 30px;
  font-size: 18px;
}

@media only screen and (min-width: 300px) {
  .client {
    background: #15222a;
    color: rgb(255,255,255);
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .blog-news {
    background: #15222a;
    color: rgb(255,255,255);
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .section-header {
    color: #fff;
    background: linear-gradient(153deg, #1d484f24 0%, #15222a 55%), url("../../assets/img/bg_hexgon.png") top left / auto 139% no-repeat, #15222a;
    opacity: 1.20;
    padding-bottom: 0px;
  }

  .about-header {
    text-align: center !important;
  }

  .paralaxx2 {
    padding-top: 100px;
    padding-bottom: 90px;
    margin-top: -101px;
    margin-bottom: -100px;
    background: #15222aeb;
  }

  .paralaxx {
    padding-top: 300px;
    padding-bottom: 90px;
    margin-top: -101px;
    margin-bottom: -100px;
    background: #15222aeb;
  }

  .contact {
    padding-top: 30px;
    padding-bottom: 100px;
    background: url("../../assets/img/bg_round-e1612525004692.png") top / cover no-repeat;
    color: #fff;
  }

  .pricing {
    color: #ffffff;
    padding-top: opx;
    padding-bottom: 100px;
  }
  .brand-logo {
    width: 50% !important;
  }
  .header-item {
    font-size: 12px;
  }
  .card-service-icon {
    font-size: 30px;
    padding-bottom: 32px;
  }
  .card-service-heading {
    font-size: 1em;
    padding-bottom: 32px;
    font-family: Montserrat, sans-serif;
    padding-bottom: 20px;
  }
  .paralax-number {
    text-align: center;
  }
  .header-intro {
    display: flex;
    flex-direction: column-reverse;
  }
  .container1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .container1.first {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .container1.second {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .row-contact {
    display: flex;
    flex-direction: column-reverse;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
  }
  .team {
    display: flex;
    flex-direction: column-reverse;
  }
  .col-about-history {
    margin-top: 0;
    text-align: center;
    padding: 0px;
  }
  .contact2-detail {
    text-align: center;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    height: 287px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .client {
    background: #15222a;
    color: rgb(255,255,255);
    padding-top: 100px;
    padding-bottom: 100px;
  }


  .blog-news {
    background: #15222a;
    color: rgb(255,255,255);
    padding-bottom: 100px;
  }
  
  .section-header {
    color: #fff;
    background: linear-gradient(153deg, #1d484f24 0%, #15222a 55%), url("../../assets/img/bg_hexgon.png") bottom left / auto 139% no-repeat, #15222a;
    opacity: 1.20;
    padding-bottom: 60px;
  }
  
  .about-header {
    padding-top: 20px;
    text-align: right !important;
  }

  .paralaxx2 {
    padding-top: 186px;
    padding-bottom: 186px;
    margin-top: -101px;
    margin-bottom: -100px;
    background: #15222aeb;
  }
  .paralaxx {
    padding-top: 186px;
    padding-bottom: 186px;
    margin-top: -101px;
    margin-bottom: -100px;
    background: #15222aeb;
  }
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("../../assets/img/bg_round-e1612525004692.png") top / cover no-repeat;
    color: #fff;
  }
  .pricing {
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner .active, .carousel-inner .active + .carousel-item, .carousel-inner .active + .carousel-item + .carousel-item, .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
}


@media only screen and (min-width: 785px) {
  .col-about-history {
    margin-top: -125px;
    text-align: center;
    padding: 0px;
  }
  .contact2-detail {
    text-align: center;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    height: 287px;
  }
  .about {
    display: flex;
    flex-direction: row;
  }
  .team {
    display: flex;
    flex-direction: row;
  }
  .row-contact {
    display: flex;
    flex-direction: row;
  }
  .brand-logo {
    width: 13% !important;
  }
  .card-service-icon {
    font-size: 50px;
    padding-bottom: 32px;
  }
  .card-service-heading {
    font-size: 1.2em;
    padding-bottom: 32px;
    font-family: Montserrat, sans-serif;
    padding-bottom: 20px;
  }
  .paralax-number {
    text-align: left;
  }
  .header-intro {
    display: flex;
    flex-direction: row;
  }
}


@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width:1024px){
  
  .burger{
    display: block;
  }
  
  .navbar{
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    background: #15222A;
  }
  .navbar .navbar-nav{
    width: 100vw;
    position: absolute;
    top: 76px;
    left: 0;
    background: #fff;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease-out 0.8s;
    -moz-transition: all ease-out 0.8s;
    -webkit-transition: all ease-out 0.8s;
  }
  .navbar .navbar-nav.show{
    max-height: 100vh;
  }
  .navbar .navbar-nav li{
    width: 100%;
  }
  .navbar .navbar-nav li a{
    color: #255a62;
  }
  .navbar .navbar-nav li a::after{
    float: right;
    margin-top: 10px;
  }
  .navbar .btn-site{
    display: none;
  }

  .nav-item .dropdown-menu{
    border: none;
    padding: 0 20px;
  }

  .nav-item .dropdown-menu .dropdown-menu{
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    border: none;
  }

  .dropdown:hover > .dropdown-menu{
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    border: none;
    padding: 0;
  }
  .dropdown:hover > .dropdown-menu a{
    padding: 15px 0 15px 20px;
  }
  .navbar .navbar-nav li .dropdown-menu a::after{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  .leader .col-sm-4:nth-child(2) .card{
    transform: translateX(0);
  }

  section{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .div-header{
    margin-bottom: 100px;
  }
  .div-header .text{
    width: calc(100% - 40px);
    top: auto;
    bottom: 30px;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .div-header .text h1{
    font-size: 50px;
  }
  .div-header .text p{
    font-size: 14px;
  }

  .header-item{
    width: 100%;
    left: -20px;
    height: 100px;
    bottom: -100px;
    text-align: center;
    padding-top: 22px;
  }
  .header-item i{
    font-size: 20px;
  }
  .header-item li:last-child{
    margin-top: 12px;
  }

  .section-header .col-md-6:first-child{
    padding: 30px 0;
  }

  .section-text h2, .section-title h2{
    font-size: 21px;
  }
  .section-text p, .section-title p{
    font-size: 14px;
  }

  section.why-us{
    padding-left: 0;
    padding-right: 0;
  }
  section.why-us .image-presentation{
    margin-bottom: 30px;
    display: block;
  }
  #accordion-1 .card-header, #accordion-1 .card-header.collapsed{
    padding: 15px 20px;
  }
  #accordion-1 .card-header h5, #accordion-1 .card-header h5 a{
    font-size: 14px;
  }

  .services{
    padding: 30px 10px;
  }
  .services .col-6{
    margin-bottom: 10px;
  }
  .card.card-services{
    height: 100%;
    margin-bottom: 0;
  }
  .card-service-icon{
    padding-bottom: 20px;
  }
  .card.card-services h5{
    font-size: 16px;
    margin-bottom: 0;
  }
  .card.card-services p{
    font-size: 14px;
  }
  .services .card{
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .services .card-body{
    padding: 20px 10px;
  }

  .paralax{
    padding: 30px 0;
  }
  .paralax .card p{
    font-size: 15px;
  }

  .testimoni{
    padding: 30px 0;
  }

  section.client{
    padding-top: 0;
  }
  .client .col-md-4{
    padding-left: 0;
    padding-right: 0;
  }
  .card-header.panel-client-header,
  .client .card{
    border: none;
  }
  section.client .card-header h2{
    font-size: 21px;
  }
  section.client .crop{
    height: 203px;
  }
  .card-title.card-clients-title{
    font-size: 16px;
  }
  section.client .card-body p{
    font-size: 14px;
  }

  .leader{
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .leader .col-sm-4:first-child{
    padding-top: 0;
  }
  .leader-description{
    margin-top: 0;
    text-align: center;
  }
  .leader .card.panel-client{
    padding: 0;
    margin-bottom: 20px;
  }

  .leader .panel-client h4{
    font-size: 16px;
  }
  .leader .panel-client p{
    font-size: 14px;
    margin-bottom: 0;
  }
  .leader .panel-client .crop{
    height: 100%;
  }

  .news{
    padding: 30px 0;
  }
  .news .card-body{
    padding-top: 56.25%;
  }

  .news .col-lg-3{
    margin-bottom: 20px;
  }
  .news .card{
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .footer-dark{
    padding: 40px 30px;
  }
  .footer-dark ul{
    font-size: 14px;
    margin-bottom: 40px;
  }
  .footer-dark ul li a{
    color: #f4f1ea;
  }
  .footer-dark .col-sm-6:last-child ul{
    margin-bottom: 0;
  }

  .footer-dark .item p{
    font-size: 14px;
    text-align: left;
  }

  .section-header{
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  .navbar .logo{
    width: 60%;
  }
  .img-header{
    height: 476px;
  }
  .about-header{
    padding-top: 0;
    padding-right: 0;
  }
  .section-header h3{
    font-size: 28px;
  }
  .section-header p{
    font-size: 14px;
  }
  .about .col-md-6.text-right{
    text-align: center !important;
  }

  .section-about1{
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .about-item-text h4{
    font-size: 21px;
  }
  .about-item-text p{
    font-size: 14px;
  }
  .section-about1 .col-md-6 .col-md-4:last-child{
    display: none;
  }
  .section-about1 .section-text.pl-5{
    padding-left: 0 !important;
    padding-top: 30px;
  }
  .section-about1 .col-md-6:last-child{
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 40px;
  }

  .mob-rev{
    flex-direction: column-reverse;
  }
  .section-about2{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-about2 .section-text{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .section-about2 .col-md-6:first-child .col-md-4{
    display: block;
    flex: none;
    float: left;
    width: calc(100% / 3);
  }
  .section-about2 .col-md-6:first-child .row{
    padding-left: 10px;
    padding-right: 10px;
  }
  .image-presentation{
    height: 75%;
  }
  .div-section-about2-history{
    z-index: 3;
  }
  .div-section-about2-history .p2{
    font-size: 14px;
  }
  .paralax .section-text{
    padding: 20px 0;
  }
  .paralax{
    min-height: 0;
  }
  
  .copyright{
    text-align: center;
  }

  .pricing{
    padding-bottom: 30px;
  }
  .pricing .col-md-10 .col-md-4{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .single-service-detail img{
    padding-top: 0;
    padding-bottom: 0;
    height: 527px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
  }
  .single-service{
    padding: 0;
  }
  .single-service-detail h3{
    font-size: 18px;
  }
  .single-service-detail p{
    font-size: 14px;
    line-height: 170%;
  }

  .single-service .col-md-4{
    padding-left: 0;
    padding-right: 0;
  }

  .row-contact .col-md-8{
    padding-left: 0;
    padding-right: 0;
  }
  .form-contact .col-md-6:nth-child(1){
    padding-right: 15px;
  }
  .form-contact .col-md-6:nth-child(2){
    padding-left: 15px;
  }
  .form-contact label{
    font-size: 14px;
    margin-bottom: 3px;
  }

  .contact .col-md-4.image-presentation{
    padding-left: 0;
    padding-right: 0;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 550px;
  }
  .contact .col-md-4.image-presentation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact2{
    padding-top: 0;
  }
  .contact2 .container{
    margin-top: -100px;
  }

  .section-text h3, .section-title h3{
    font-size: 16px;
  }
  .post .section-text.mt-4{
    margin-top: 0 !important;
  }
  .blog{
    padding-bottom: 20px;
    padding-top: 0;
  }
  .blog img{
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
  .post-info{
    font-size: 12px;
  }
  .post .section-text p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .post .col-md-7,
  .post .col-md-5{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .post .section-text .link{
    font-size: 12px;
  }

  .blog-news{
    padding: 30px 0 !important;
  }
  .crop-news{
    height: 180px;
  }

  .breadcrumb{
    padding: 0;
  }
  .breadcrumb li{
    font-size: 12px;
  }

  .post-title{
    text-align: center;
  }
  .post-title h1{
    font-size: 28px;
  }
  .post-title p{
    font-size: 14px;
  }
  .post-title p a{
    display: block;
  }
  .post-title p span{
    display: none;
  }
  .single-post-header{
    padding-left: 0;
    padding-right: 0;
  }
  .post p,
  .post blockquote{
    font-size: 14px;
    line-height: 150%;
  }

  .list-inline-item{
    font-size: 14px;
  }
  .list-inline-item i{
    margin-right: 5px;
  }
  .list-inline-item:not(:last-child){
    margin-right: 20px;
  }

  .div-404{
    padding-left: 0;
    padding-right: 0;
  }
  .div-404 h1{
    font-size: 98px;
  }
  .div-404 h2{
    font-size: 28px;
  }
  .div-404 p{
    font-size: 12px;
  }
  .div-404 .error{
    padding: 120px 40px 40px;
  }

  .card.card-testimonial h5{
    width: 100%;
    float: left;
  }

}






